.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-container {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.815); /* Sem backdrop-filter */
    border-radius: 8px;
    box-shadow: 10px 8px 12px rgba(0, 0, 0, 0.404);
    height: 150px;
    width: 100%;
    max-width: 360px;
    padding: 16px;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.151);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    backdrop-filter: blur(1px);
    opacity: 0.01;
}

.popup-overlay.active .popup-container {
    transform: scale(1);
    opacity: 1;
}

.popup-message {
    margin-top: 5px !important;
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 16px 0;
    line-height: 1.4;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popup-button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    transition: background-color 0.2s ease;
    font-family: 'Chillax', sans-serif !important;
}

.popup-button-cancel {
    background-color: #531818;
    color: #ffffff;
}

.popup-button-cancel:hover {
    background-color: #491515;
}

.popup-button-confirm {
    background-color: #2a6b16;
    color: #ffffff;
}

.popup-button-confirm:hover {
    background-color: #245c13;
}